<h2 class="text-center"> Booking info </h2>


<div class="container" style="margin-bottom: 20px">
  <div class="row text-center box">
    <div class="col-md-3">
      <h3>Booker info</h3>
      <p><%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
      <p><%= @booking.user.registration.email %></p>
    </div>
    <div class="col-md-3">
      <h3>Booker picture</h3>
      <%= cl_image_tag @booking.user.photo.path, class:"avatar-large"%>
    </div>
    <div class="col-md-3">
      <h3>Date</h3>
      <p><%= @booking.booking_date %></p>
    </div>
    <div class="col-md-3">
      <h3>Your restaurant</h3>
      <p><strong><%= @booking.restaurant.name %></strong></p>
      <p><%= @booking.restaurant.address %></p>
    </div>
  </div>
</div>

<div class="container">
<%= link_to "Back",  "#{user_path(current_user)}#calendar"%>
</div>
