<div class="container-fluid" style="padding: 0;">
  <div class="profile text-center" style="overflow: auto;">
    <div class="main">
      <div class="main-content">
        <%= cl_image_tag current_user.photo.path, class:"avatar-large"%>
        <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
        <p><%= current_user.phone_number %></p>
        <p><%= current_user.registration.email %></p>
        <p><%=  %></p>
        <%= link_to "Edit info", edit_user_path(current_user), class: "btn btn-info" %>
        <% unless current_user.owner %>
        <div class="container">
          <h3>Become an owner</h3>
          <%= render 'owner'  %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="title-booking">
      <div class="title-content">
       <% if @user.owner %>
       <h2>My private bookings</h2>
       <% else %>
       <h2>My bookings</h2>
       <% end %>
     </div>
   </div>
   <div class="description" style="overflow: auto;">
    <% if current_user.bookings.any?%>
    <div class="container-fluid">
      <div class="row">
        <% @user.bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-mini" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
            <h2><%= booking.restaurant.name %></h2>
            <h4><%= booking.booking_date %></h4>
            <p> <%= link_to "Cancel", restaurant_booking_path(booking.restaurant.id, booking.id), class: "btn btn-info", method: :delete, :data => {:confirm => 'Are you sure?'} %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
    <p>No booking yet</p>
    <% end %>
  </div>
  <div class="container text-center">
    <%= link_to "New reservation","#{restaurants_path}#restaurants", class: "btn btn-primary" %>
  </div>
</div>


<% if @user.owner  %>
  <div class="wrapper" style="margin: 30px auto; background: rgba(235, 235, 235, 0.95); display: block;">
    <div class="container">
      <div class="row spaced-header text-center">
        <h2>My restaurants</h2>
      </div>

      <% if current_user.restaurants.any?%>
      <div class="text-center box">
        <% @user.restaurants.each do |restaurant|  %>
        <div class="row">
          <div class="col-sm-3">
            <h3>Address</h3>
            <p><%= restaurant.address %></p>
          </div>
          <div class="col-sm-3">
            <h3>Capacity</h3>
            <p><%= restaurant.capacity %></p>
          </div>
          <div class="col-sm-3">
            <h3>Category</h3>
            <p><%= restaurant.category %></p>
          </div>
          <div class="col-sm-3">
            <%= link_to "Edit restaurant", edit_restaurant_path(restaurant), class: "btn btn-warning btn-centered" %>
          </div>
        </div>
        <% end  %>
        <div class="row">
          <%=  link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
        </div>
      </div>
      <% else %>
      <p>No booking yet</p>
      <% end %>

<style>
  .spaced-header {
    padding: 50px 0px;
    font-weight: bold;
    letter-spacing: 15px;
  }
</style>
      <div class="row text-center spaced-header">
        <h2>Calendar</h2>
      </div>
      <!--  calendar from the gem  https://github.com/excid3/simple_calendar#installation   -->
      <div class="row" style="padding-top: 50px;" id="calendar">
        <%= month_calendar events: @user.bookings do |date, bookings| %>
        <%= date.day %>
        <% bookings.each do |booking| %>
        <div>
          <div class="event">
            <%= link_to "#{booking.user.first_name} #{booking.user.last_name} at #{booking.restaurant.name}", restaurant_booking_path(booking.restaurant, booking), class: "link_to" %>
          </div>
        </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
<% end  %>
</div>



