
<div class="container">
  <h1>Welcome to your dashboard <%= current_user.first_name %>!</h1>
  <!-- <p>Here we will have his first_name, last_name, ...</p>
  <p>id of the user = <%= current_user.id %></p>
  <p>first_name of the user = <%= current_user.first_name %></p>
  <p>last_name of the user = <%= current_user.last_name %></p>
  <p>phone_number of the user = <%= current_user.phone_number %></p>
  <p>Owner ? = <%= current_user.owner %></p> -->
</div>

<% unless current_user.owner %>
<div class="container">
  <h2>Become an owner</h2>
  <%= render 'owner'  %>
</div>
<% end %>


<div style="background: #d6d6d6; margin: 10px auto" class="container">
  <% if @user.owner %>
    <h2>My private bookings</h2>
  <% else %>
    <h2>My bookings</h2>
  <% end %>
  <% if current_user.bookings.any?%>
  <% @user.bookings.each do |booking| %>
  <div class="col-xs-12 col-sm-4">
    <div class="card card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
      <div class="card-description">
        <h2><%= booking.restaurant.name %></h2>
        <p><strong><%= booking.booking_date %></strong></p>
        <%= link_to "Cancel reservation", restaurant_booking_path(booking.restaurant.id, booking.id), method: :delete, :data => {:confirm => 'Are you sure?'} %>
      </div>
    </div>
  </div>
  <% end  %>
  <% else %>
  <p>No booking yet</p>
  <% end %>
</div>
<div class="text-center">
  <p><%= link_to "New reservation","#{restaurants_path}#restaurants", class: "btn btn-primary" %> </p>
</div>

<% if @user.owner  %>

<div class="container" style="margin: 30px auto; background:grey; color: white;">
  <h2>My restaurants</h2>

  <div class="container">
    <h3>Add a restaurant</h3>
    <%=  link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
  </div>

  <div class="container">
    <h3>My restaurants</h3>
    <div class="row">
      <ul>
        <% n = 1  %>
        <% @user.restaurants.each do |restaurant|  %>
        <li>
          <p><%= n %>.
            Name : <%= restaurant.name %>|
            Capacity : <%= restaurant.capacity %>|
            Address : <%= restaurant.address %>
            <%= link_to "Edit my restaurant", edit_restaurant_path(restaurant), class: "btn btn-warning" %> </p>
          </li>
          <% n+=1 %>
          <% end  %>
        </ul>
      </div>
    </div>
    <div class="container">
      <h3>My current bookings</h3>
      <% @user.restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
          <div class="card-description">
            <h2><%= restaurant.name %></h2>
            <p><strong>...</strong></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  <% end  %>
