
<div class="container">
  <h1>Welcome to your dashboard <%= current_user.first_name %>!</h1>
  <!-- <p>Here we will have his first_name, last_name, ...</p>
  <p>id of the user = <%= current_user.id %></p>
  <p>first_name of the user = <%= current_user.first_name %></p>
  <p>last_name of the user = <%= current_user.last_name %></p>
  <p>phone_number of the user = <%= current_user.phone_number %></p>
  <p>Owner ? = <%= current_user.owner %></p> -->
</div>

<% unless current_user.owner %>
<div class="container">
  <h2>Become an owner</h2>
  <%= render 'owner'  %>
</div>
<% end %>


<div style="background: #d6d6d6; margin: 10px auto" class="container">
  <% if @user.owner %>
  <h2>My private bookings</h2>
  <% else %>
  <h2>My bookings</h2>
  <% end %>
  <% if current_user.bookings.any?%>
  <% @user.bookings.each do |booking| %>
  <div class="col-xs-12 col-sm-4">
    <div class="card card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
      <div class="card-description">
        <h2><%= booking.restaurant.name %></h2>
        <h4><%= booking.booking_date %></h4>
        <p> <%= link_to "Cancel reservation", restaurant_booking_path(booking.restaurant.id, booking.id), class: "btn btn-info", method: :delete, :data => {:confirm => 'Are you sure?'} %>
        </p>
      </div>
    </div>
  </div>
  <% end  %>
  <% else %>
  <p>No booking yet</p>
  <% end %>
</div>
<div class="text-center">
  <p><%= link_to "New reservation","#{restaurants_path}#restaurants", class: "btn btn-primary" %> </p>
</div>

<% if @user.owner  %>

<div class="container" style="margin: 30px auto; background: #d6d6d6;">
  <h2>My restaurants</h2>

  <div class="container">
    <h3>Add a restaurant</h3>
    <%=  link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
  </div>

  <div class="container">
    <h3>My restaurants bookings</h3>
    <% if current_user.restaurants.any?%>
    <ol>
      <% @user.restaurants.each do |restaurant|  %>
      <div class="row">
        <li>
          <p>
            <strong>Name: </strong><%= restaurant.name %>|
            <strong>Capacity: </strong><%= restaurant.capacity %>|
            <strong>Address: </strong><%= restaurant.address %> |
            <strong>Municipality: </strong><%= restaurant.municipality %>
            <%= link_to "Edit my restaurant", edit_restaurant_path(restaurant), class: "btn btn-warning" %> </p>

          </li>
          <% restaurant.bookings.each do |booking| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
              <div class="card-description">
                <h2><%= booking.user.first_name + " " + booking.user.last_name %></h2>
                <h4><%= booking.booking_date %></h4>
                <p><%= booking.status %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end  %>
        <% else %>
        <p>No booking yet</p>
        <% end %>
      </ol>
    </div>
    <!-- this div displays the restaurants in the card format -->
    <!-- would be nice to click on it and have access to all the bookings  -->

    <!-- <div class="container">
      <h3>All my bookings</h3>
      <% @user.restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
          <div class="card-description">
            <h2><%= restaurant.name %></h2>
            <p><strong>...</strong></p>
          </div>
        </div>
      </div>
        <% end %>
      </div> -->
    </div>

    <% end  %>
