<div class="container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
          <%= cl_image_tag current_user.photo.path, class:"avatar-large"%>
        <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
        <p><%= current_user.phone_number %></p>
        <p><%= current_user.registration.email %></p>
        <p><%=  %></p>
        <%= link_to "Edit info", edit_user_path(current_user), class: "btn btn-info" %>
        <% unless current_user.owner %>
        <div class="container">
          <h3>Become an owner</h3>
          <%= render 'owner'  %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="title-booking">
      <div class="title-content">
       <% if @user.owner %>
       <h2>My private bookings</h2>
       <% else %>
       <h2>My bookings</h2>
       <% end %>
     </div>
   </div>
   <div class="description">
    <% if current_user.bookings.any?%>
    <div class="container-fluid">
      <div class="row">
        <% @user.bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-mini" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
            <h2><%= booking.restaurant.name %></h2>
            <h4><%= booking.booking_date %></h4>
            <p> <%= link_to "Cancel", restaurant_booking_path(booking.restaurant.id, booking.id), class: "btn btn-info", method: :delete, :data => {:confirm => 'Are you sure?'} %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
    <p>No booking yet</p>
    <% end %>
  </div>
  <div class="container text-center">
    <p><%= link_to "New reservation","#{restaurants_path}#restaurants", class: "btn btn-primary" %> </p>
  </div>
</div>


<% if @user.owner  %>

<div class="container" style="margin: 30px auto; background: #d6d6d6;">
  <h2>My restaurants</h2>

  <div class="container">
    <h3>Add a restaurant</h3>
    <%=  link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
  </div>

  <div class="container">
    <h3>My restaurants bookings</h3>
    <% if current_user.restaurants.any?%>
    <ol>
      <% @user.restaurants.each do |restaurant|  %>
      <div class="row">
        <li>
          <p>
            <strong>Name: </strong><%= restaurant.name %>|
            <strong>Capacity: </strong><%= restaurant.capacity %>|
            <strong>Address: </strong><%= restaurant.address %> |
            <strong>Municipality: </strong><%= restaurant.municipality %>
            <%= link_to "Edit my restaurant", edit_restaurant_path(restaurant), class: "btn btn-warning" %> </p>

          </li>
          <% restaurant.bookings.each do |booking| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
              <div class="card-description">
                <h2><%= booking.user.first_name + " " + booking.user.last_name %></h2>
                <h4><%= booking.booking_date %></h4>
                <p><%= booking.status %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end  %>
        <% else %>
        <p>No booking yet</p>
        <% end %>
      </ol>
    </div>

    <!-- this div displays the restaurants in the card format -->
    <!-- would be nice to click on it and have access to all the bookings  -->

    <!-- <div class="container">
      <h3>All my bookings</h3>
      <% @user.restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
          <div class="card-description">
            <h2><%= restaurant.name %></h2>
            <p><strong>...</strong></p>
          </div>
        </div>
      </div>
        <% end %>
      </div> -->
    </div>

    <% end  %>


<!--  calendar from the gem  https://github.com/excid3/simple_calendar#installation   -->
<div class="container">
  <%= month_calendar events: @user.bookings do |date, bookings| %>
  <%= date.day %>
  <% bookings.each do |booking| %>
    <div>
      <div class="event">
        <%= link_to "#{booking.user.first_name} #{booking.user.last_name} at #{booking.restaurant.name}", restaurant_booking_path(booking.restaurant, booking), class: "link_to" %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
