<%= render 'shared/banner'  %>

<div style="margin-bottom: 100px;" class="container">
  <div class="row">
    <%  @restaurants.each do |restau|%>
    <div class="col-xs-12 col-sm-4">
      <%= link_to  restaurant_path(restau) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category"></div>
        <div class="card-description">
          <h2><%= restau.name %></h2>
          <p><%= restau.municipality %></p>
          <p><%= restau.category %></p>
          <p></p>


        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="col-sm-4 col-sm-offset-4">

  <% if current_user  %>
  id user : <%= current_user.id %>
  <hr>
  (ceci est a mettre directement dans la navbar les gars)<%= link_to "My  USER dashboard", user_path(current_user) %>
  <% end %>
</div>
