<%= render 'shared/banner'  %>

<div class="main-container">
  <div style="margin-bottom: 100px;" class="container" id="restaurants">
    <div class="row">
      <%  @restaurants.each do |restau|%>
      <div class="col-xs-12 col-sm-4">
        <% unless restau.photos.empty? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path restau.photos.first.path, height: 300, width: 400, crop: :fill %>')">
          <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
            <% end %>
            <div class="card-category"></div>
            <div class="card-description">
              <h2><%= restau.name %></h2>
              <p><%= restau.municipality %></p>
              <p><%= restau.category %></p>
              <p><%= link_to "More Info", restaurant_path(restau), class:"btn btn-info"%> </p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

      <div id="map" class=" hidden-sm hidden-xs" style="width: 100%; height: 600px;"></div>

      <!--  maps Javascript google API -->
      <% content_for(:after_js) do %>
      <script type="text/javascript">
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({internal: { id: 'map' }}, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
      </script>
      <% end %>
    </div>
