<%= render 'shared/banner'  %>

<div style="margin-bottom: 100px;" class="container" id="restaurants">
  <div class="row">
    <%  @restaurants.each do |restau|%>
    <div class="col-xs-12 col-sm-4">
      <% unless restau.photo.file.nil? %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path restau.photo, height: 300, width: 400, crop: :fill %>')">
        <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "restaurant.jpg" %>')">
          <% end %>
          <div class="card-category"></div>
          <div class="card-description">
            <h2><%= restau.name %></h2>
            <p><%= restau.municipality %></p>
            <p><%= restau.category %></p>
            <p><%= link_to "More Info", restaurant_path(restau), class:"btn btn-primary" %> </p>
          </div>

        </div>
      </div>
      <% end %>
    </div>
  </div>
