


  <div class="banner show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @restaurant.photos.first.path%>')">
    <h2><%= @restaurant.name%></h2>
  </div>
    <div class="container">
    <div class="card-category"></div>
  </div>

  <div class="container">
    <div class="row text-center box">
      <div class="col-md-3">
        <h3>Address</h3>
        <p><%= @restaurant.address %></p>
      </div>
      <div class="col-md-3">
        <h3>Municipality</h3>
        <p><%= @restaurant.municipality %></p>
      </div>
      <div class="col-md-3">
        <h3>Capacity</h3>
        <p><%= @restaurant.capacity %></p>
      </div>
      <div class="col-md-3">
        <h3>Category</h3>
        <p><%= @restaurant.category %></p>
      </div>
    </div>

    <div class="row text-center">
      <%= link_to "Book this restaurant", new_restaurant_booking_path(@restaurant), class: "btn btn-primary btn-booking" %>
    </div>

  </div>


<div style="margin-bottom: 100px;" class="container" id="restaurants">
  <div class="row">
    <%  @restaurant.photos.each do |photo|%>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.path, height: 300, width: 400, crop: :fill %>')">


      </div>
    </div>
    <% end %>
  </div>
</div>




<div id="map" style="width: 100%; height: 600px;"></div>
<% if @hash[0][:lat].nil? %>

  <%= content_for(:after_js) do %>
    <script type="text/javascript">
    $(document).ready(function() {
        alert('Please insert a proper address so Google can find it you loozer!');
    });
    </script>
  <% end %>

<% else %>

  <% content_for(:after_js) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        var styles = [
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f7f1df"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#d0e3b4"
            }
        ]
    },
    {
        "featureType": "landscape.natural.terrain",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.medical",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#fbd3da"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#bde6ab"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffe15f"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#efd151"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "black"
            }
        ]
    },
    {
        "featureType": "transit.station.airport",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#cfb2db"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#a2daf2"
            }
        ]
    }
];
        handler.buildMap({
          provider: {
            styles: styles
          },
          internal: { id: 'map' }
      }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>
    <% end %>

<% end %>
