<div class="container">

  <ul>
    <li>
      <%= @restaurant.name %>
      <%= @restaurant.capacity %>
      <%= @restaurant.address %>
      <%= @restaurant.category %>
      <%= @restaurant.municipality %>
    </li>
  </ul>

  <%= link_to "Book a restaurant", new_restaurant_booking_path(@restaurant), class: "btn btn-danger" %>
</div>
