<div class="container">
  <h2><%= @restaurant.name%></h2>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">Popular</div>
  </div>
  <div class="text-center">
    <li>
      <strong>Address:</strong> <%= @restaurant.address %>
      | <strong>Municipality:</strong> <%= @restaurant.municipality %>
      | <strong>Capacity:</strong> <%= @restaurant.capacity %>
      | <strong>Category:</strong> <%= @restaurant.category %>
    </li>
  </div>
  <div class ="btn-show text-center">
    <%= link_to "Book this restaurant", new_restaurant_booking_path(@restaurant), class: "btn btn-primary" %>
  </div>
  <%= link_to "Back", restaurants_path %>
</div>


<%= content_for(:after_js) do %>
  <script type="text/javascript">
  $(document).ready(function() {
      alert('Welcome to <%= j @restaurant.name%>');
  });
  </script>
<% end %>
